<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Format Choose</title>
</head>
<body>
  <a href="/generatemarksheet?format=onlypractical"><img src="/onlypractical.png" alt="" width="20%" height="40%"> Practical Only</a>
    <a href="/generatemarksheet?format=theorypractical"><img src="/theory.png" alt="" width="20%" height="40%">Theory Marks  + practical</a>
      <a href="/generatemarksheet?format=internalexternal"><img src="/onlypractical.png" alt="" width="20%" height="40%"> Internal + External</a>
</body>
</html>